<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910385464282-1h39nr3d9tb79g61sf7dkhpbke42jo5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910385464282-1h39nr3d9tb79g61sf7dkhpbke42jo5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDtXPbdPtnAOxoqRz8BVZTxMxhbdwKkfWA</string>
	<key>GCM_SENDER_ID</key>
	<string>910385464282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.haeunapp</string>
	<key>PROJECT_ID</key>
	<string>flutterhaeunapp</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterhaeunapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910385464282:ios:d04fa957e206c61e3436e3</string>
</dict>
</plist>